{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 13
  },
  "rules": {
    "import/extensions": [
      "error",
      "always",
      {
        "js": "always"
      }
    ]
  }
}
