{
  "editor.formatOnSave": true,
  "prettier.semi": false,
  "prettier.javascriptEnable": ["javascript", "javascriptreact"],
  "prettier.printWidth": 2,
  "prettier.useTabs": false,
  "prettier.tabWidth": 4,
  "singleQuote": true
}
