.inner {
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inner > header {
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
}
section {
  margin-bottom: 16px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
h3,
p,
li {
  margin-bottom: 14px;
  overflow-wrap: break-word;
}
li {
  margin-left: calc(16px * 1.5);
}
button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #cccccc;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
button:hover {
  background-color: #e9e9e9;
  font-weight: bold;
}
.explanation {
  margin-bottom: 20px;
}
.explanation li {
  font-size: 14px;
}
.hint li:nth-child(1) {
  list-style: '👍';
}
.hint li:nth-child(2) {
  list-style: '😁';
}
.hint li:nth-child(3) {
  list-style: '😥';
}
.rules li:nth-child(1) {
  list-style: '🔢';
}
.rules li:nth-child(2) {
  list-style: '🌟';
}
.rules li:nth-child(3) {
  list-style: '🕹️';
}
.rules li:nth-child(4) {
  list-style: '⚠️';
}
.game-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-state__btn-start,
.game-state__playing {
  display: none;
  border-radius: 6px;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  text-align: center;
}
.game-state__playing {
  background-color: rgb(254, 233, 186);
}
.game-state__btn-start.on,
.game-state__playing.on {
  display: block;
}
.input-container {
  height: 36px;
  display: flex;
  justify-content: center;
}
.input-container button,
.input-container input {
  height: inherit;
  border-radius: 6px;
}
.input-container input {
  border: 1px solid black;
  width: 50%;
  margin-right: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}
.input-container input::placeholder {
  text-align: center;
}
.message-container {
  width: 100%;
  height: 40px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(208, 208, 208);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  text-align: center;
}
